html{
	background-color: white;
	display: flex;
}
body {
	display: flex;
	float: center;
	width: 302px;
}

.title,.data,.id,.transaction {
	background-color: white;
	border: 1px solid black;
	max-width: 100%;
}

.title {
	text-align: center;
}

.data {
	display: flex;
	text-align: center;
}

.data div{
	display: flex;
	flex-direction: column;
	align-content:space-evenly;
	justify-content: space-evenly;
}

.id {
	display: flex;
	text-align:center;
}

.id div {
	text-align:center;
	flex-direction: column;
	align-content:space-evenly;
	justify-content: space-evenly;
}

.id label, .id select, .id input {
	max-width: 100%;
	text-align:center;
}

.id select {
	width: 98%;
}

.id input {
	
}



